<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Mongo</a>
    </div>
<ul class="nav navbar-nav">
  <li class="active"><a href="/">home</a></li>
  <li><a href="/saved">Saved</a></li>
  <li><a class="btn btn-danger scrape-new">new</a></li>
</ul>
</div>
</nav>

<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="backgroud-image"></div>
    <div class="caption">
        <h1>News</h1>
        <p>Scrape now</p>
    </div>
</div>
<div class="container-fluid article-container"></div>



<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


<script type="text/javascript" src="../../javascript/index.js"></script>
